@font-face{
    font-family: OpenSansLight;
    src:url(../fonts/OpenSans-Light.ttf);
}
body 
{
	font-family: Monospace;
	font-weight: bold;
	background-color: #ccccff;
	margin: 0px;
	overflow: hidden;
}
#touch {
    font-family:OpenSansLight;
}
